<div class="canvas">
  <app-motion-toggle />
  <app-map-switcher
    [maps]="maps()"
    [activeMapId]="activeMapId()"
    (activate)="setActiveMap($event)"
    (add)="addMap($event)"
  />
  <div class="diagram-wrap">
    <ng-diagram
      [model]="model"
      [config]="config"
      [nodeTemplateMap]="nodeTemplateMap"
      [edgeTemplateMap]="edgeTemplateMap"
      [style.background]="background"
      (nodeDragStarted)="onNodeDragStarted($event)"
      (selectionMoved)="onSelectionMoved($event)"
      (nodeDragEnded)="onNodeDragEnded()"
      (nodeResizeEnded)="onNodeChanged()"
      (nodeRotateEnded)="onNodeChanged()"
      (paletteItemDropped)="onPaletteItemDropped($event)"
    >
    </ng-diagram>
    <app-grid-overlay />
  </div>
  <app-roll-dice-button [disabled]="cubeRef.isAnimating()" (roll)="cubeRef.draw()" />
  <app-toolbar />
  @if (activeMap(); as map) {
    @if (map.imageUrl) {
      <app-lock-map-image-toggle
        [locked]="!!map.imageLocked"
        (toggleLock)="toggleImageLock()"
      />
    }
    <app-scale-legend
      [cellValue]="map.cellValue"
      [unit]="map.unit"
      (cellValueChange)="onCellValueChange($event)"
      (unitChange)="onUnitChange($event)"
    />
  }
  <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 9999;">
    <app-cube #cubeRef [multiplier]="1" [value]="1" />
  </div>
  <app-library-sidebar
    [collapsed]="sidebarCollapsed()"
    (collapsedChange)="sidebarCollapsed.set($event)"
    (addCharacterClicked)="openAddCharacterDialog()"
  />
</div>

<app-add-character-dialog
  [open]="addCharacterDialogOpen()"
  (cancel)="addCharacterDialogOpen.set(false)"
  (submit)="onAddCharacterSubmit($event)"
/>
